/bin/
/\.idea/
/pi-remote-linux-amd64
/main
/pi-remote-cli
*.DS_Store
*.exe
*.test
internal/runtimebundle/assets/windows_amd64/*
!internal/runtimebundle/assets/windows_amd64/_placeholder
!internal/runtimebundle/assets/windows_amd64/bin/
!internal/runtimebundle/assets/windows_amd64/bin/busybox.exe
