/bin/
/\.idea/
/aremote-linux-amd64
/main
/aremote
*.DS_Store
*.exe
*.test
internal/runtimebundle/assets/windows_amd64/*
!internal/runtimebundle/assets/windows_amd64/_placeholder
!internal/runtimebundle/assets/windows_amd64/bin/
!internal/runtimebundle/assets/windows_amd64/bin/busybox.exe
